# Stage2
---

## 함께실습$1
---

In [1]:
a=1
b = 2
c      =-1231
d=-123.53323
print(a,b,c,d)

1 2 -1231 -123.53323

In [2]:
add = 123 + 321
print(add)

444

In [3]:
res = 3 + (2 * 5)
print(res)

13

In [4]:
res = res / 3
print(res)

4.333333333333333

In [5]:
print(1 + 2 - 1231)

-1228

In [6]:
print(a + b + c)

-1228

## 함께실습$2
---

In [7]:
a = 'Hello World'
print(a)

b = "안녕 세상"
print(b)

Hello World
안녕 세상

In [8]:
a = "Hi"
print(a)

Hi

In [9]:
b = a
print(b)

Hi

In [10]:
longName = '''여러줄에 걸쳐 글을 쓰려면?
크리스티아누
호날두
두스
산투스
아베이루'''
print(longName)

여러줄에 걸쳐 글을 쓰려면?
크리스티아누
호날두
두스
산투스
아베이루

## 미션$1
---

### 1. 문자를 더하면?

In [11]:
a = 'my name is '
b = 'Django'
print(a + b)

my name is Django

### 2. 문자형에 들어 있는 숫자끼리 더하면?

In [12]:
num1 = '1234'
num2 = '4321'
print(num1 + num2)

12344321

### 3. K는 어떤 값이 될까요?

In [13]:
K = 'P'
P = 123
print(K)

P

## 함께실습$3
---

In [16]:
age = 25
if age > 19:
    print('성인입니다')
else:
    print('청소년입니다')

성인입니다

In [18]:
age = 15

# or도 사용가능합니다.
if age >= 14 and age <= 16:
    print('중학생 할인혜택이 적용됩니다.')
else:
    print('할인 대상자가 아닙니다.')

중학생 할인혜택이 적용됩니다.

## 함께실습$4
---

In [21]:
score = 85

if score >= 90:
    print('수')
elif score >= 80:
    print('우')
elif score >= 70:
    print('미')
elif score >= 60:
    print('양')
else:
    print('가')

우

## 미션$2
---

In [20]:
score = 85

if score >= 90:
    print('수')
if score < 90 and score >= 80:
    print('우')
if score < 80 and score >= 70:
    print('미')
if score < 70 and score >= 60:
    print('양')
if score < 60:
    print('가')

우

## 자율$1
---
### 방법1

In [22]:
age = 25
score = 75

if age >= 20:
    if score >= 80:
        print('합격')
    else:
        print('불합격')
else:
    if score >= 70:
        print('합격')
    else:
        print('불합격')

불합격

### 방법2

In [24]:
age = 25
score = 75

if age >= 20 and score >= 80:
    print('합격')
elif age >= 20 and score < 80:
    print('불합격')
elif age < 20 and score >= 70:
    print('합격')
elif age < 20 and score < 70:
    print('불합격')

불합격

## 함께실습$5
---

In [1]:
myname = "박청용"
birth = 650101
addr = "서울 마포 공덕"

person_info = [myname, birth, addr, "남자", 1100]

print(person_info[0])
print(person_info[1])
print(person_info[4])

박청용
650101
1100

## 함께실습$6
---

In [2]:
myname = "박청용"
birth = 650101
addr = "서울 마포 공덕"

user_info = {
    "name": myname,
    "birth": birth,
    "address": addr,
    "gender": "남자",
    "point": 1100
}

print(user_info["name"])
print(user_info["birth"])
print(user_info["point"])

박청용
650101
1100

## 함께실습$7
---

In [27]:
person_info2 = ["박지성", 810225, "맨체스터", "남자", 13000]
user_list = [person_info, person_info2, user_info]

print(user_list[0])
print(user_list[1])
print(user_list[1][2])
print(user_list[2]["address"])

['최도근', 920318, '서울 마포 공덕', '남자', 1100]
['박지성', 810225, '맨체스터', '남자', 13000]
맨체스터
서울 마포 공덕